*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
@font-face {
    font-family:'Valorant' ;
    src: url('Druk Wide Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.container{
    background-image: linear-gradient( 
108deg, rgba(31, 35, 38, 0.9906163148853291) 0%, rgba(26, 10, 12, 0.857) 54%, rgba(15, 44, 50, 1) 100% ), url('../imagens/bg.jpg');
 height: 100vh;
 width: 100%;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}
.nav{
    width: 100%;
    max-width: 1220px;
}
.nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.nav__itens{
    list-style: none;
}
.nav__itens-color{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #fff;
    text-decoration: none;
}

.content{
    width: 100%;
    max-width: 1220px;
    display: flex;
    margin: 0 auto;
}
.a_side{
    width: 100%;
    max-width: 620px;
    height: 90vh;
    display: flex;
    flex-direction: column;
}
.img_titulo{
    margin-top: 150px;
    margin-bottom: 53px;
}
.a_side__box{
    display: flex;
    margin-bottom: 70px;
    flex-wrap: wrap;
}
.a_side__box_cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-right: 20px;
    margin-left: 10px;
    color:  #FF4656;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.card{
    width: 100%;
    max-width: 170px;
    height: 170px;
    z-index: 2;

}
.card_border{
    position: absolute;
    top: -10px;
    left: -7px;
    z-index: 1;
}
.card_nome{
margin-top:15px ;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 18px;
text-align: center;
letter-spacing: 0.1em;
}

.a_side__icons{
    display: flex;
    justify-content:flex-start;
}
.a_side__icons-margin{
    margin-right: 40px;
}
.b_side{
    width: 100%;
    max-width: 620px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}
.img_princ{
   position: absolute;
   height: 100%;
}
.img_date{
    position: absolute;
    bottom: 30px;
    right: 0;

}
/***Tratamento Responsivo***/
@media(min-width:1440px){
    .img_titulo{
        margin-top: 250px;
        margin-bottom: 53px;
    }
    .a_side__box{
        display: flex;
        margin-bottom: 200px;
    }
}
@media(max-width:760px){
    
    .b_side{
        display: none;
    }
    .a_side{
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

